@charset "UTF-8";

/*-----------------------------------

	main

-----------------------------------*/

h2 {
    margin-bottom: 10px;
}
h3 {
    color: #E43C33;
}
form {
    margin-top: 30px;
}


/* 送信ボタン */
input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: .5em 1em;
	color: #fff;
	background-color: #0ae;
	border: none;
	border-radius: 4px;
	transition : 0.2s ;
	-webkit-transition : 0.2s ;
	-moz-transition    : 0.2s ;
	-o-transition      : 0.2s ;
	-ms-transition     : 0.2s ;
	font-family: "Noto Sans JP","メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #00bbee;
}